*{
  padding: 0;
  margin: 0;
}

nav{
  background-color: white;

}

nav li{
  display: flex;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

nav li img{
  width: 20px;
}